@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>#DotNet SPA</h1>
    <p class="lead">This is an Example of what a #DotNet MVC Single Page Application might look like.</p>
    <p><a href="http://blankstechblog.com/dotnet-mvc-single-page-application-take-two/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>